<% include ./partials/header %>

  <header>
    <!--Mask-->
    <div id="intro" class="view">
      <div class="mask rgba-black-strong">
      </div>
    </div>
    <!--/.Mask-->
  </header>

  <a href="/user/login">/user/login</a>
  <a href="/user/register">/user/register</a>
  <a href="/todo/list">/todo/list</a>
  <a href="/user/register">/user/register</a>
  <%= user._id %>

</body>

</html>
