<% include ./partials/header %>

  <header>
    <!--Mask-->
    <div id="intro" class="view">
      <div class="mask rgba-black-strong">
      </div>
    </div>
    <!--/.Mask-->
  </header>

  <a href="/user/login">/user/login</a>
  <a href="/user/register">/user/register</a>
  <a href="/user/dashboard">/user/dashboard</a>

  <a href="/list/">/list</a>

</body>

</html>
